body
{
    box-sizing: box;
    background: #dadada;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFF;
    margin: 0;
}

header
{
    color: #229;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    display: flex;
}

header h1
{
    margin: 0 auto;
}


div.nav
{
    display: grid;
    width: 60%;
    margin: 50px auto 10px auto;
    padding: 2%;
    background-color: #229;
    border-radius: 7%;
}

div.block
{
    display: grid;
    width: 60%;
    margin: auto auto 10px auto;
    padding: 2%;
    background-color: #229;
    border-radius: 7%;
}

div.sub-block
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a
{
    text-decoration: none;
    color: #88f;
}

img
{
    border-radius: 10%;
    width: 150px;
    height: 150px;
    float: right;
}

